@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: "Winky Sans", sans-serif;
    font-optical-sizing: auto;
    color: #FFF;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #cd7a00;
    border-radius: 5px;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: #2c2c2c;
    text-align: center;
}

main{
    position: relative;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #6e533b;
}

nav {
    margin-bottom: 15px;
}

nav a {
    margin: 0 40px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease; 
}

nav a:hover{
    color: #f3de8b;
}


h1, p {
    text-align: left;
}

.intrototal {
    display: flex;
    background-color: #6e533b;
    justify-content: space-around;
    align-items: start;
    padding: 80px;
    height: 90vh;
}

.intrototal h1{
    font-size: 3.5rem;
}

.intrototal img{
    max-width: 500px;
}

/* Estilo para o bloco de texto */
.intro {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

#quemsomos {
    margin: 10px;
    padding-bottom: 30px;
}

#problematica {
    margin: 10px;
    padding-bottom: 30px;
}

#reflexao {
    margin: 10px;
    padding-bottom: 30px;
}

#contatotitulo {
    margin: 10px;
    padding-bottom: 30px;
    padding-left: 0px;
}

.botao-container {
    margin-top: 10px;
}

.botao-saiba-mais {
background: linear-gradient(to right, rgba(255, 107, 107, 0) 0%, #fdac32 100%);
  color: #fff;
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
}

.botao-saiba-mais:hover {
    background-color:#fdac32;
}

.intro {
    font-size: 25px;
    text-align: justify;
    padding: 100px;
}
#titulo {
    margin: 10px;
}
.styletitulo {
    background-color: #6e533b;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#wit{
    max-width: 210px;
}

#unifil{
    max-width: 130px;
}

.styletopicos div {
    padding: 0px;
}

.styleproblematica {
    background-color: #cd7a00;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.problematicaimage img {
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
}

.stylenossoprojeto {
    background-color: #6e533b;
}

.projetoimage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projetoimage img {
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
}

.stylereflexao {
    background-color: #fbb040;
    padding: 0px;
    height: auto;
}

.stylecontato {
    background-color: #cd7a00;
    min-height: auto;
}


.styletopicos {
    padding: 0px;
}

.styletopicos section {
    margin: 0px;
    padding: 120px;
    border-radius: 0px;
}

.stylequemsomos {
    background-color: #fbb040;
    text-align: center;
    margin-left: 100px;
    min-height: auto;
    width: 100%;
}

.styleproblematica {
    background-color: #cd7a00;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    text-align: left;
    padding: 20px;
    height: 60vh;
}

.problematica-content {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.problematica-content img {
    max-width: 350px;
    height: auto;
    border-radius: 8px;
}

.stylenossoprojeto {
    background-color: #6e533b;
    text-align: center;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projeto-content {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.projeto-content img {
    max-width: 300px;
    height: auto;
    border-radius: 8px;
}

.stylereflexao {
    background-color: #fbb040;
    padding: 20px;
    text-align: left;
}

.styletopicos h2 {
    margin-bottom: 10px;
    font-size: 40px;
}

.styletopicos p {
    font-size: 1.25rem;
    color: #fff;
    text-align: justify;
}

.stylecontato {
    background-color: #cd7a00;
    padding: 40px;
    text-align: center;
    min-height: 40vh;
}

.contato-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.contato-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contato-item p {
    margin: 10px 0;

}

.contato-item a {
    color:#FFF
}

.contato-item a:hover {
    color: #fdac32; 
}

.imgs-integrantes{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    padding: 20px;
}

.imgs-integrantes img{
    max-width: 450px;
    max-height: 350px;
    border-radius: 50%;
}

.btns-quem-somos-nos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    position: relative;
} 

.btns-quem-somos-nos button{
    cursor: pointer;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: none;
    color: #cd7a00;
    font-size: 0.95rem;
}

.icons-redes{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
}

.btn-subir{
    display: block;
}

.btn-subir.hidden{
    display: block;
    position: fixed;
    height: 40px;
    width: 40px;
    right: 5%;
    bottom: 8%;
    background-color: #2c2c2c;
    border: none;
    cursor: pointer;
}

.yas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.clara{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#portifolio-clara.hidden::before{
    content: "Portifólio em construção!!";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    background-color: #fff;
    right:-10px;
    top: 65px;
    border-radius: 10px;
    color: #cd7a00;
}

#portifolio-clara.hidden::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 18px solid rgb(255, 255, 255);
    top: 50px;
    right: 150px;
}

.port-building p {
    color: #cd7a00;
    font-size: 1.05rem;
}

.menu-btn{
    display: none;
}

/* responsividade */

@media (max-width: 1340px){

    .styletitulo.hidden{
        display: flex;
        flex-direction: column;
        position: fixed;   
        min-height: 100vh;
        width: 100%;
        left: 0%;
        z-index: 1;
        background-color: #6e533bea;
    }

    .styletitulo{
        display: none;
        left: 100%;
    }

    .styletitulo nav{
        display: flex;
        flex-direction: column;
        gap: 60px;
    }

    .intrototal{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100vh;
        gap: 20px;
    }

    .intro{
        padding: 10px;
    }

    .intro p {
        width: 100%;
    }

    .intrototal img {
        max-width: 400px;
    }

    .styletopicos section {
     padding: 50px;
    }

    .imgs-integrantes{
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }

    .styleproblematica{
        height: auto;
    }

    .styleproblematica img {
        display: none;
    }

    .projeto-content{
        flex-direction: column;
        height: auto;
    }

    .stylecontato {
        min-height: 30vh;
    }

    .menu-btn {
        display: flex;
        position: fixed;
        top: 5%;
        right: 5%;
        flex-direction: column;
        justify-content: space-between;
        width: 40px;
        height: 30px;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        z-index: 1;
      }
      
      .menu-btn span {
        display: block;
        width: 100%;
        height: 5px;
        background: white;
        border-radius: 3px;
        transition: 0.3s;
      }

      .menu-btn.active span:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
      }
      
      .menu-btn.active span:nth-child(2) {
        opacity: 0;
      }
      
      .menu-btn.active span:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
      }
}

@media (max-width: 600px){
    .intrototal img {
        display: none;
    }
    
    .intro{
        text-align: left;
        padding: 0px;
        width: 300px;
    }

    .stylenossoprojeto{
        width: auto;
        height: auto;
    }

    .stylenossoprojeto p{
        height: auto;
        width: auto;
    }

    .stylecontato{
        height: auto;
    }
    
    .contato-content {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 20px;
        padding: 10px;
    }
}
